@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

/* .cf { *zoom: 1; } */

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}
/* navbar starts here */
.wrapper11 {
  max-width: 1366px;
  width: 90.77%; 
  margin: 0 auto;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  /* width: 96%; */
  background: #101D35;
}
nav p ::before{
  text-decoration: none;
  font-family: "fontAwesome";
  text-indent: 0;
  font-size: 2em;
  color: #ffffff;

 content: "\f0c9";
}
nav ul{ display: none; }
div nav h1 a{ text-decoration: none; }
div nav h1 span{ padding-left: 5px; }

/* navbar ends here */
/* section 1 styling start */

/* .sec1{ width: 100%; } */
.wrappersection1{
  max-width: 1366px;
  width: 100%; 
  margin: 0 auto;

}
.sec1 figure{ width: 100%; }
.sec1 img{ position: relative; }

.sec1 h2{ font-size: 42px;
padding-bottom: 30px;}

.div2{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50% ,-50%);
}

.div2 p{padding: 5px;}

.sec1 a{

  padding: 15px;
  border: 2px solid black;
  text-decoration: none;
}
/* section 1 styling end */
/* section 2 styling start */

.sec2{
  background:#112634;
  width: 100%;
  justify-content: space-between;
  text-align: center;
}

.sec2 h3{
 padding-top: 101px;
 padding-bottom: 22px;
 font-size: 36px;
 color: white;
}

.sec2 ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-bottom: 108px;
}

.sec2 p{
  color: rgb(185, 182, 182);
font-size: 18px;
padding-bottom: 63px;
}

.image1 figcaption{
  text-align: center;
  padding: 30px 20px;
  background: #1F2D39;
}

.image2 figcaption{
  text-align: center;
  padding: 30px 20px;
  background: #1F2D39;
}

/* section 2 styling end */
/* section 3 styling start */

.sec3{ background: #273141; }

.sec3 h3{
  padding-top: 90px;
  padding-bottom: 32px;
  font-size: 36px;
}
.sec3 p{
  padding-bottom: 47px;
  font-size: 22px;
}
.sec3 ul{ list-style: none;}

.sec3d1{
  display: flex;
  padding-bottom: 77px;
}
.list1{width: 20%;}
.list1 li{ padding: 15px;}

.list1 li a{
  border: 1px solid transparent;
  padding: 10px;
  color: #ffffff;
  background-color: #29383F;
  border-radius: 5px;
  text-decoration: none;
}

.list1 li a:hover{
  border: 1px solid transparent;
  padding: 10px;
  color: #ffffff;
  background-color: #AA14CC;
  border-radius: 5px;
  text-decoration: none;
}

.list2{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: end;
}

.list2 li{ padding: 10px;}
/* section 3 styling end */
/* section 4 styling start */
.sec4{
  background: #2A2D3A;
 text-align: center;
}

.sec4 h3{
  font-size: 36px;
  padding-top: 97px;
  padding-bottom: 35px;
}

.sec4 p{
 padding-bottom: 48px;
  font-size: 22px;
}
.sec4 ul{
  justify-content: space-evenly;
  display: flex;
  list-style: none;
 padding-bottom: 70px;
}

.sec4 ul figure{ padding: 10px;}

.sec4 ul figcaption{
 font-size: 18px;
 background-color: #293232;
 padding: 20px;
}
/* section 4 styling end */
/* section 5 styling start */

footer{ background: #020B13;}

.align{
  display: flex;
 justify-content: space-evenly;
 padding-top: 60px;
}

.footersec1{ justify-content: center;}

.footersec1 ul{ list-style: none; width: 20%;}
.footersec1 ul::first-line { font-size: 28px; }
.footersec1 ul li h4 { padding-bottom: 20px; }
.footersec1 ul li{ padding: 10px;}
.border { border-bottom: 1px solid black; }

.align li a{ text-decoration: none;}

.footersec2 ul { 
  display: flex;
  justify-content: center;
  list-style: none;
  text-decoration: none;
  padding-top: 50px;
  padding-bottom: 10px;
}

.footersec2 ul a{ 
  text-decoration: none;
  font-family: "fontAwesome";
  text-indent: 0;
  font-size: 2em;
  color: #ffffff;
 padding: 10px;
}

.li1 a::before { content: "\f099"; }
 .li2 a::before { content: "\f09a"; } 
 .li3 a::before { content: "\f16d"; }
 .li4 a::before { content: "\f2ab"; }

.wrapper2{
  text-align: center;
  padding-bottom: 30px;
}

/* footer section end */